@mixin sm {
	@media (max-width: 640px) {
		@content;
	}
}

@mixin md {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin lg {
	@media (min-width: 1024px) {
		@content;
	}
}

@mixin xl {
	@media (min-width: 1280px) {
		@content;
	}
}

@mixin xxl {
	@media (min-width: 1536px) {
		@content;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.svg-spinner {
	font-size: inherit;

	svg {
		color: hsl(var(--primary));

		height: 1em;
		width: 1em;
		animation: spin 1s linear infinite;
	}
}

* {
	box-sizing: border-box;
	outline: none !important;

	&:focus-visible {
		outline: none !important;
	}

	scrollbar-width: thin;
	scrollbar-color: hsl(var(--accent-foreground)) hsl(var(--accent));
}

body {
	height: 100vh;
	overflow: hidden;
}

nav > div {
	width: 100%;
	height: 100%;
}
